.header, .section {
  max-width: 900px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.head small {
  display: block;
}

.hero span {
  display: block;
}

.heroimg {
  max-width: 300px;
  max-height: 300px;
}

.section {
  padding: 1rem;
  box-sizing: border-box;
}

.wave {
  display: inline-block;
  animation-duration: 0.5s;
  animation-name: wave;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes wave {
  from {
    transform: rotate(30deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.dek {
  visibility: hidden;
}

.work {
  padding-bottom: 0;
}

.grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1.5rem;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .hero {
    order: 0;
  }

  .head {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 310px) {
  .heroimg {
    width: 100%;
    height: auto;
  }
}
